@model CrudWithDBFA.Models.Employee


<!DOCTYPE html>
<html>
<head>

</head>

<body>
        <div>
            <dl>
            <dt>Eno</dt>
            <dd>@Model.Eno</dd>
            <dt>Ename</dt>
            <dd>@Model.EName</dd>
            <dt>E job</dt>
            <dd>@Model.Job</dd>
            <dt>E salary</dt>
            <dd>@Model.Salary</dd>
            <dt>Dname</dt>
            <dd>@Model.Dname</dd>
            </dl>
        </div>


    <div>
        <a href="/">Back To Home</a>
    </div>
</body>
</html>



